<p style="color: green"><%= notice %></p>

<%= render @referent %>

<div>
  <%= link_to "Edit this referent", edit_referent_path(@referent) %> |
  <%= link_to "Back to referents", referents_path %>

  <%= button_to "Destroy this referent", @referent, method: :delete %>
</div>
